@media screen and (min-width: 768px) {
    .imageContainer {
        height: 250px;
        width: 300px;
    }
}

@media screen and (min-width: 900px) {
    #root {
        padding: 0 !important;
    }
}

@media screen and (min-width: 900px) {
    .form {
        width: 400px;
    }
}



