
.drawerRoot  div:first-child {
    top: 49px !important;
}

.drawerPaper {
    top: 65px !important;
    width: 90%;
}

@media screen and (min-width: 600px) {
    .drawerPaper {
        width: 400px;
    }
}