
.container {
    min-height: 100vh;
}

.signUpContainer::before {
    border-radius: 0 0 50% 50%;
    content: "" !important;
    height: 100px;
    opacity: .65;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .signUpContainer {
        width: 400px !important;
    }
}

@media screen and (min-width: 900px) {
    #root {
        padding: 0 !important;
    }
}



