.main {
    height: calc(100% - 49px);
}

@media screen and (min-width: 600px) {
    .main {
        height: calc(100% - 53px);
    }
}

@media screen and (min-width: 1024px) {
    .main {
        height: calc(100% - 54px);
        width: calc(100vw - 240px);
    }
    
    .mainEmptyList {
        height: 100%;
    }
}